<p id="notice"><%= notice %></p>

<h1>Pattern <%= @pattern.id %></h1>


<table>
  <tr><th>Persistent Id</th><td><%= @pattern.persistentid %></td></tr>
  <tr><th>Version</th><td><%= @pattern.version %></td></tr>
  <tr><th>Type</th><td><%= @pattern.route_type %></td></tr>
  <tr><th>Distance</th><td><%= @pattern.distance %></td></tr>
  <tr><th>Coords</th><td><%= @pattern.coords %></td></tr>
</table>

