<p id="notice"><%= notice %></p>

<h1>API for <%= @api.name || params[:slug] %></h1>
<table>
  <tbody>
    <% for attr in @api.attributes do %>
      <tr>
        <td><%= attr[0]%></td><td><%= attr[1] %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= button_to "Update", api_path(@api, :slug => params[:slug]), :method => :patch  %>
<%= button_to "Collect", refresh_api_path(@api, :slug => params[:slug])  %>

<%= link_to "Master", master_path(@api.master) if @api.master %>
<%= button_to "Login", login_api_path(@api) if @api.master %>
