
<h2>Journeys</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Journey</th>
    <th>Code</th>
    <th colspan="2"><%= @time_now.strftime("%H:%M") %></th>
    <th>Vid</th>
    <th>Direction</th>
    <th>Cur</th>
    <th>Dist</th>
    <th>Centro Bus</th>
  </tr>
  </thead>
  <tbody>
  <% for x in @master.journeys.sort {|x,y| x.start_offset && y.start_offset ? x.start_offset <=> y.start_offset : 0} do %>
      <tr>
        <td><%= link_to x.name, master_journey_path(@master, x) %></td>
        <td><%= x.route_code %></td>
        <td><%= x.start_time.strftime("%H:%M") if x.start_offset %></td>
        <td><%= x.end_time.strftime("%H:%M") if x.start_offset %></td>
        <td><%= x.vid %></td>
        <td><%= x.dir %></td>
        <td><%= x.active?(@time_now) ? "*" : "" %></td>
        <td><%= "%6.2f%" % x.p_dist(@time_now) %></td>
        <td><%= x.centro_bus.centroid if x.centro_bus %></td>
        <td><%= x.centro_bus.dd if x.centro_bus %></td>
        <td>
        <% for jres in x.centro_bus.journey_results do %>
        <% for res in jres[:res] do %>
              <div>
                <%= "#{Journey.find(jres[:journey]).start_time.strftime("%H:%M")} p_dist_diff #{"%6.2f%" % res[:p_dist_diff]} p_dist #{"%6.2f" % res[:p_dist]}% sched #{res[:sched_time].in_time_zone(x.time_zone).strftime("%H:%M")} time_diff #{"%6.2f" % (res[:time_diff]/60.0)} ti_dist #{"%6.2f" % res[:ti_dist]}".html_safe %>
              </div>
        <% end %>
        <% end if x.centro_bus %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<H1>Active Centro Buses</H1>
<table class="table table-striped">
  <tr>
    <th>Centroid</th>
    <th>Rtdd</th>
    <th>Dd</th>
    <th>Lat Lon</th>
    <th>Time</th>
    <th>Journey</th>
    <th>Start</th>
    <th><%= @time_now.strftime("%H:%M") %></th>
    <th>JDist</th>
    <th>Status</th>
  </tr>
  <% for centro_bus in @centro_buses %>
      <tr>
        <td><%= link_to centro_bus.centroid, centro_bus_path(centro_bus) %></td>
        <td><%= centro_bus.rtdd %></td>
        <td><%= centro_bus.dd %></td>
        <td><%= link_to "LOC", "http://www.google.com/search?q=#{centro_bus.lat},#{centro_bus.lon}" %></td>
        <td><%= centro_bus.time %></td>
        <% if centro_bus.journey %>
            <td><%= link_to centro_bus.journey.name, master_journey_path(@master, centro_bus.journey) %></td>
            <td><%= (centro_bus.journey.start_time).strftime("%H:%M") %></td>
            <td>
              <%= centro_bus.journey.sched_time(@time_now).strftime("%H:%M") %>
            </td>
            <td>
              <%= "%8.2f%" % centro_bus.journey.p_dist(@time_now) %>
            </td>
            <td>
              <% for jres in centro_bus.journey_results %>
                  <% for res in jres[:res] %>
                  <div>
                    <% jny = Journey.find(jres[:journey]) %>
                    Start <%= jny.start_time.strftime("%H:%M") %>
                    Sched <%= res[:sched_time].in_time_zone(centro_bus.journey.time_zone).strftime("%H:%M") %>
                    Diff <%= "%6.2f" % (res[:time_diff]/60.0) %>
                    Dist <%= "%6.2f%" % (res[:p_dist]) %>
                  </div>
                 <% end %>

              <% end %>
            </td>
        <% else %>
            <td colspan="2"><%= centro_bus.message %></td>
        <% end %>
      </tr>
  <% end %>
</table>